<html>
<head>
    <title>QuickFlask</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h1 class="bg-green-300 border-green-600 border-b p-4 m-4 rounded text-3xl font-bold">Welcome to QuickFlask</h1>
  <div class="bg-blue-300 border-blue-600 p-4 m-4 text-3xl"><b>Useful links:</b> 
      <p><a href="https://flask.palletsprojects.com/en/3.0.x/">Flask documentation</a></p>
      <p><a href="https://tailwindcss.com/docs">Tailwind CSS documentation</a></li>
  </div>
  <p style="text-align:center">&copy;2024 Damian Kleiman</p>
</body>
</html>
